.hero{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background:linear-gradient(rgba(47, 45, 45, 0.7), rgba(0, 0, 0, 0.3)) ,url(../../assets/background.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    max-width: 1300px;
}

.hero-text h1{
    font-size: 80px;
    font-weight: 600;
    color: white;
    letter-spacing: 10px;
}

.hero-text p{
    max-width: 700px;
    margin : 10px auto 20px;
    line-height: 1.4;
    font-weight: 700;
    font-size: 20px;

    color: white;
}

@media (max-width : 1180px){
    .hero-text h1{
        font-size: 65px;
    }
}

@media (max-width : 844px){
    .hero-text h1{
        font-size: 55px;
    }
}

@media (max-width : 747px){
    .hero-text h1{
        font-size: 49px;
    }
}

@media (max-width : 690px){
    .hero-text h1{
        font-size: 48px;
    }
    .hero-text p{
        font-size: 17px;
    }
}

@media (max-width : 600px){
    .hero-text h1{
        font-size: 39px;
    }
    .hero-text p{
        font-size: 15px;
    }
}