.programs {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.programs img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.program {
  flex-basis: 31%;
  position: relative;
}

.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(80, 80, 80, 0.7), rgba(200, 200, 200, 0.3));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  columns: white;
  opacity: 0;
  padding-top: 70%;
  transition: 0.4s;
  cursor: pointer;
}

.program:hover .caption {
  opacity: 1;
  padding-top: 10px;
}

.caption img {
  width: 60px;
  margin-bottom: 10px;
  order: 2;
}

.caption p {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}

@media (max-width:690px){
  .caption p{
    font-size: 12px;
  }
}
